In [122]:
import pandas as pd

In [123]:
altura_cm = [178,165,155,181,176,189,190,186]

In [124]:
#Crear una serie llamada altura
altura = pd.Series(altura_cm)
altura

0    178
1    165
2    155
3    181
4    176
5    189
6    190
7    186
dtype: int64

In [125]:
#sacar los x primeros valores 
altura.head(4)

0    178
1    165
2    155
3    181
dtype: int64

In [126]:
#ordenar los valores 
altura.sort_values()

2    155
1    165
4    176
0    178
3    181
7    186
5    189
6    190
dtype: int64

In [127]:
#obtener el valor minimo
altura.min()

155

In [128]:
#obtener el maximo
altura.max()

190

In [129]:
#obtener el promedio
altura.mean()

177.5

In [130]:
#sumar los valores de altura
altura.sum()

1420

In [131]:
#obtener la descripcion 
altura.describe()

count      8.000000
mean     177.500000
std       12.177262
min      155.000000
25%      173.250000
50%      179.500000
75%      186.750000
max      190.000000
dtype: float64

In [132]:
#obtener la altura mayor a 170
#altura[filtro]
altura[altura>170]

0    178
3    181
4    176
5    189
6    190
7    186
dtype: int64

In [133]:
#dataframe
datos = {
    "nombre": ["Erika","Elias","Miguel","Karla","Gabriela"],
    "edad": [23,24,21,25,22],
    "altura": [173,194,165,154,176],
    "peso": [83.2,65.4,71.1,67.9,71.8]    
}

amigos = pd.DataFrame(datos)
amigos

     nombre  edad  altura  peso
0     Erika    23     173  83.2
1     Elias    24     194  65.4
2    Miguel    21     165  71.1
3     Karla    25     154  67.9
4  Gabriela    22     176  71.8

In [134]:
#obtener la descripcion 
amigos.describe()

            edad      altura       peso
count   5.000000    5.000000   5.000000
mean   23.000000  172.400000  71.880000
std     1.581139   14.774979   6.829861
min    21.000000  154.000000  65.400000
25%    22.000000  165.000000  67.900000
50%    23.000000  173.000000  71.100000
75%    24.000000  176.000000  71.800000
max    25.000000  194.000000  83.200000

In [135]:
#obtener los datos de los amigos con una edad menos a 23
amigos[amigos.edad<23]

     nombre  edad  altura  peso
2    Miguel    21     165  71.1
4  Gabriela    22     176  71.8

In [136]:
#se puede aplicar otros atribs como .edad para que solo me de la edad o un describe de estos elementos
amigos[amigos.edad<23].edad

2    21
4    22
Name: edad, dtype: int64

In [137]:
#importar desde un archivo los datos para el dataframe
amigos = pd.read_excel("./amigos.xlsx",index_col="Id")
amigos.head()

     Nombre Apellido Pat  Apellido Mat  Edad  Altura  Peso
Id
1    Sergio      Negrete         Terán    18     163  90.9
2      Jean       Vidrio        Piñeda    23     166  61.3
3     María        Feria         Núñez    22     185  77.1
4   William   Valdovinos         López    22     155  84.6
5   Bastian   Richardson  De La Fuente    17     187  87.0

In [138]:
#obtener los datos de los amigos con una edad menor a 21
amigos[(amigos.Edad < 21) & (amigos.Nombre == 'Sergio')]

    Nombre Apellido Pat Apellido Mat  Edad  Altura  Peso
Id
1   Sergio      Negrete        Terán    18     163  90.9

In [139]:
universidad = pd.read_excel("./universidad.xlsx")
universidad

   Num Control              Carrera  Semestre Inscripción  Id Persona
0     SeNeTe01  Lic. en nutriología         7  2015-05-20           1
1     JeViPi02         Ing. química         8  2015-05-02           2
2     MaFeNú03      Lic. en derecho         6  2015-05-09           3
3     WiVaLó04     Ing. en sistemas         2  2016-12-03           4
4     BaRiDe05     Ing. mecatrónica        10  2018-12-01           5
..         ...                  ...       ...         ...         ...
95    StPeRu96  Lic. en nutriología         2  2015-12-15          96
96    MaRaRí97      Lic. en derecho         7  2016-12-28          97
97    NiBrPa98     Ing. mecatrónica         8  2015-05-14          98
98    LiÁvSa99  Lic. en nutriología         4  2016-05-28          99
99   MoNaBr100     Ing. mecatrónica         2  2018-05-11         100

[100 rows x 5 columns]

In [144]:
#para unir las tablas
estudiantes = amigos.merge(universidad, left_on="Id", right_on="Id Persona")
estudiantes

,Nombre,Apellido Pat,Apellido Mat,Edad,Altura,Peso,Num Control,Carrera,Semestre,Inscripción,Id Persona
0,Sergio,Negrete,Terán,18,163,90.9,SeNeTe01,Lic. en nutriología,7,2015-05-20,1
1,Jean,Vidrio,Piñeda,23,166,61.3,JeViPi02,Ing. química,8,2015-05-02,2
2,María,Feria,Núñez,22,185,77.1,MaFeNú03,Lic. en derecho,6,2015-05-09,3
3,William,Valdovinos,López,22,155,84.6,WiVaLó04,Ing. en sistemas,2,2016-12-03,4
4,Bastian,Richardson,De La Fuente,17,187,87.0,BaRiDe05,Ing. mecatrónica,10,2018-12-01,5
...,...,...,...,...,...,...,...,...,...,...,...
95,Stephanie,Peña,Rubio,20,188,52.9,StPeRu96,Lic. en nutriología,2,2015-12-15,96
96,Marvin,Ramón,Ríos,24,167,98.3,MaRaRí97,Lic. en derecho,7,2016-12-28,97
97,Nicolás,Bravo,Pascual,19,171,76.7,NiBrPa98,Ing. mecatrónica,8,2015-05-14,98
98,Lily,Ávalos,Salín,19,168,58.6,LiÁvSa99,Lic. en nutriología,4,2016-05-28,99
99,Moises,Navarro,Briones,21,171,55.2,MoNaBr100,Ing. mecatrónica,2,2018-05-11,100

In [147]:
#cambiar letras a mayusculas loc para referenciar columnas
estudiantes.loc[:,"Num Control"].str.upper()
#para guardarlo en el dataframe
estudiantes.loc[:,"Num Control"] = estudiantes.loc[:, "Num Control"].str.upper()
estudiantes.head()

,Nombre,Apellido Pat,Apellido Mat,Edad,Altura,Peso,Num Control,Carrera,Semestre,Inscripción,Id Persona
0,Sergio,Negrete,Terán,18,163,90.9,SENETE01,Lic. en nutriología,7,2015-05-20,1
1,Jean,Vidrio,Piñeda,23,166,61.3,JEVIPI02,Ing. química,8,2015-05-02,2
2,María,Feria,Núñez,22,185,77.1,MAFENÚ03,Lic. en derecho,6,2015-05-09,3
3,William,Valdovinos,López,22,155,84.6,WIVALÓ04,Ing. en sistemas,2,2016-12-03,4
4,Bastian,Richardson,De La Fuente,17,187,87.0,BARIDE05,Ing. mecatrónica,10,2018-12-01,5

In [150]:
#cambiar la primera letra a mayuscula 
estudiantes.loc[:,"Carrera"] = estudiantes.loc[:,"Carrera"].str.title()
estudiantes

,Nombre,Apellido Pat,Apellido Mat,Edad,Altura,Peso,Num Control,Carrera,Semestre,Inscripción,Id Persona
0,Sergio,Negrete,Terán,18,163,90.9,SENETE01,Lic. En Nutriología,7,2015-05-20,1
1,Jean,Vidrio,Piñeda,23,166,61.3,JEVIPI02,Ing. Química,8,2015-05-02,2
2,María,Feria,Núñez,22,185,77.1,MAFENÚ03,Lic. En Derecho,6,2015-05-09,3
3,William,Valdovinos,López,22,155,84.6,WIVALÓ04,Ing. En Sistemas,2,2016-12-03,4
4,Bastian,Richardson,De La Fuente,17,187,87.0,BARIDE05,Ing. Mecatrónica,10,2018-12-01,5
...,...,...,...,...,...,...,...,...,...,...,...
95,Stephanie,Peña,Rubio,20,188,52.9,STPERU96,Lic. En Nutriología,2,2015-12-15,96
96,Marvin,Ramón,Ríos,24,167,98.3,MARARÍ97,Lic. En Derecho,7,2016-12-28,97
97,Nicolás,Bravo,Pascual,19,171,76.7,NIBRPA98,Ing. Mecatrónica,8,2015-05-14,98
98,Lily,Ávalos,Salín,19,168,58.6,LIÁVSA99,Lic. En Nutriología,4,2016-05-28,99
99,Moises,Navarro,Briones,21,171,55.2,MONABR100,Ing. Mecatrónica,2,2018-05-11,100

In [152]:
#añadir la columna año desde la inscripcion
estudiantes["Año"] = estudiantes.Inscripción.dt.year
estudiantes

,Nombre,Apellido Pat,Apellido Mat,Edad,Altura,Peso,Num Control,Carrera,Semestre,Inscripción,Id Persona,Año
0,Sergio,Negrete,Terán,18,163,90.9,SENETE01,Lic. En Nutriología,7,2015-05-20,1,2015
1,Jean,Vidrio,Piñeda,23,166,61.3,JEVIPI02,Ing. Química,8,2015-05-02,2,2015
2,María,Feria,Núñez,22,185,77.1,MAFENÚ03,Lic. En Derecho,6,2015-05-09,3,2015
3,William,Valdovinos,López,22,155,84.6,WIVALÓ04,Ing. En Sistemas,2,2016-12-03,4,2016
4,Bastian,Richardson,De La Fuente,17,187,87.0,BARIDE05,Ing. Mecatrónica,10,2018-12-01,5,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Stephanie,Peña,Rubio,20,188,52.9,STPERU96,Lic. En Nutriología,2,2015-12-15,96,2015
96,Marvin,Ramón,Ríos,24,167,98.3,MARARÍ97,Lic. En Derecho,7,2016-12-28,97,2016
97,Nicolás,Bravo,Pascual,19,171,76.7,NIBRPA98,Ing. Mecatrónica,8,2015-05-14,98,2015
98,Lily,Ávalos,Salín,19,168,58.6,LIÁVSA99,Lic. En Nutriología,4,2016-05-28,99,2016
99,Moises,Navarro,Briones,21,171,55.2,MONABR100,Ing. Mecatrónica,2,2018-05-11,100,2018

In [155]:
#añadir añomes
estudiantes["Año mes"] = estudiantes.Inscripción.dt.strftime("%Y / %m")
estudiantes

,Nombre,Apellido Pat,Apellido Mat,Edad,Altura,Peso,Num Control,Carrera,Semestre,Inscripción,Id Persona,Año,Añomes,Año mes
0,Sergio,Negrete,Terán,18,163,90.9,SENETE01,Lic. En Nutriología,7,2015-05-20,1,2015,2015/05,2015 / 05
1,Jean,Vidrio,Piñeda,23,166,61.3,JEVIPI02,Ing. Química,8,2015-05-02,2,2015,2015/05,2015 / 05
2,María,Feria,Núñez,22,185,77.1,MAFENÚ03,Lic. En Derecho,6,2015-05-09,3,2015,2015/05,2015 / 05
3,William,Valdovinos,López,22,155,84.6,WIVALÓ04,Ing. En Sistemas,2,2016-12-03,4,2016,2016/12,2016 / 12
4,Bastian,Richardson,De La Fuente,17,187,87.0,BARIDE05,Ing. Mecatrónica,10,2018-12-01,5,2018,2018/12,2018 / 12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Stephanie,Peña,Rubio,20,188,52.9,STPERU96,Lic. En Nutriología,2,2015-12-15,96,2015,2015/12,2015 / 12
96,Marvin,Ramón,Ríos,24,167,98.3,MARARÍ97,Lic. En Derecho,7,2016-12-28,97,2016,2016/12,2016 / 12
97,Nicolás,Bravo,Pascual,19,171,76.7,NIBRPA98,Ing. Mecatrónica,8,2015-05-14,98,2015,2015/05,2015 / 05
98,Lily,Ávalos,Salín,19,168,58.6,LIÁVSA99,Lic. En Nutriología,4,2016-05-28,99,2016,2016/05,2016 / 05
99,Moises,Navarro,Briones,21,171,55.2,MONABR100,Ing. Mecatrónica,2,2018-05-11,100,2018,2018/05,2018 / 05

In [158]:
#hacer un df de personas licenciadas en la carrera
licenciados = estudiantes[estudiantes.loc[:,"Carrera"].str.contains("Lic")]
licenciados

,Nombre,Apellido Pat,Apellido Mat,Edad,Altura,Peso,Num Control,Carrera,Semestre,Inscripción,Id Persona,Año,Añomes,Año mes
0,Sergio,Negrete,Terán,18,163,90.9,SENETE01,Lic. En Nutriología,7,2015-05-20,1,2015,2015/05,2015 / 05
2,María,Feria,Núñez,22,185,77.1,MAFENÚ03,Lic. En Derecho,6,2015-05-09,3,2015,2015/05,2015 / 05
7,Jamir,Aguirre,Escobedo,17,169,77.5,JAAGES08,Lic. En Derecho,7,2018-12-12,8,2018,2018/12,2018 / 12
8,Claudia,Hernán,Arias,23,165,54.0,CLHEAR09,Lic. En Nutriología,4,2015-05-01,9,2015,2015/05,2015 / 05
12,Rafael,Berlanga,Burgos,20,167,56.1,RABEBU13,Lic. En Derecho,10,2017-05-21,13,2017,2017/05,2017 / 05
13,Elías,Durán,Aburto,17,185,65.0,ELDUAB14,Lic. En Pedagogía,4,2018-05-16,14,2018,2018/05,2018 / 05
14,Deymar,Rubio,Trejo,24,182,85.6,DERUTR15,Lic. En Derecho,8,2017-12-25,15,2017,2017/12,2017 / 12
16,Nelson,Rubio,Guerrero,24,162,86.5,NERUGU17,Lic. En Nutriología,8,2018-12-10,17,2018,2018/12,2018 / 12
17,Maria,Gallegos,Becker,20,161,87.3,MAGABE18,Lic. En Derecho,1,2018-12-02,18,2018,2018/12,2018 / 12
18,Félix,Llorente,Salín,23,188,78.5,FÉLLSA19,Lic. En Nutriología,3,2018-12-18,19,2018,2018/12,2018 / 12
19,Claudio,Escalante,Pizano,22,169,55.6,CLESPI20,Lic. En Nutriología,2,2016-12-22,20,2016,2016/12,2016 / 12
23,Casimiro,Richardson,Tapia,26,185,54.6,CARITA24,Lic. En Nutriología,10,2017-12-24,24,2017,2017/12,2017 / 12
25,Asfand,Posadas,Laguillo,21,179,60.3,ASPOLA26,Lic. En Derecho,6,2016-05-15,26,2016,2016/05,2016 / 05
27,André,Luna,Llanos,26,174,85.9,ANLULL28,Lic. En Pedagogía,4,2015-12-13,28,2015,2015/12,2015 / 12
28,Elisa,Hijar,Favela,22,160,50.2,ELHIFA29,Lic. En Pedagogía,2,2016-05-04,29,2016,2016/05,2016 / 05
30,Bruno,Cuenca,Ocampo,23,167,77.3,BRCUOC31,Lic. En Pedagogía,1,2015-05-06,31,2015,2015/05,2015 / 05
32,Lisa,Márquez,Salas,17,163,93.9,LIMÁSA33,Lic. En Derecho,5,2018-12-01,33,2018,2018/12,2018 / 12
33,Álvaro,Prado,Lima,23,161,59.8,ÁLPRLI34,Lic. En Derecho,2,2017-05-02,34,2017,2017/05,2017 / 05
34,Casimiro,Olvera,Barrientos,21,184,67.4,CAOLBA35,Lic. En Pedagogía,4,2018-05-27,35,2018,2018/05,2018 / 05
36,Cuauhtemoc,Vallejo,Rubio,26,164,85.5,CUVARU37,Lic. En Nutriología,10,2016-12-08,37,2016,2016/12,2016 / 12
38,Mauro,Feria,Cuevas,22,188,78.0,MAFECU39,Lic. En Nutriología,3,2016-12-20,39,2016,2016/12,2016 / 12
40,Helio,Moreno,Alcocer,23,182,74.3,HEMOAL41,Lic. En Nutriología,2,2017-12-26,41,2017,2017/12,2017 / 12
41,Pamela,Soberón,Ortega,17,172,72.6,PASOOR42,Lic. En Nutriología,4,2017-05-23,42,2017,2017/05,2017 / 05
42,Leopoldo,Infante,Nathal,19,174,62.6,LEINNA43,Lic. En Nutriología,7,2018-12-11,43,2018,2018/12,2018 / 12
43,Claudio,Cetina,Espinoza,20,169,68.4,CLCEES44,Lic. En Nutriología,8,2017-12-22,44,2017,2017/12,2017 / 12
46,Esteban,Mendoza,Cervera,20,167,66.6,ESMECE47,Lic. En Nutriología,9,2017-12-24,47,2017,2017/12,2017 / 12
47,Sergio,Valdovinos,Said,22,156,97.2,SEVASA48,Lic. En Derecho,6,2016-05-09,48,2016,2016/05,2016 / 05
49,Monica,Valencia,García,26,180,95.8,MOVAGA50,Lic. En Derecho,7,2018-12-17,50,2018,2018/12,2018 / 12
50,Adán,Sandoval,Campos,17,181,61.6,ADSACA51,Lic. En Derecho,3,2015-12-07,51,2015,2015/12,2015 / 12
52,Maximiliano,De La Fuente,Ortega,26,173,67.7,MADEOR53,Lic. En Pedagogía,10,2018-05-26,53,2018,2018/05,2018 / 05
53,Federico,Cruz,Maldonado,23,168,94.9,FECRMA54,Lic. En Pedagogía,2,2018-05-27,54,2018,2018/05,2018 / 05
56,Lara,Fernández,Vera,19,167,55.5,LAFEVE57,Lic. En Derecho,7,2018-05-16,57,2018,2018/05,2018 / 05
57,Eugene,Peñalosa,Llamas,17,172,78.4,EUPELL58,Lic. En Pedagogía,6,2017-12-20,58,2017,2017/12,2017 / 12
59,Liliana,Meneses,Acosta,21,171,99.9,LIMEAC60,Lic. En Nutriología,3,2015-05-06,60,2015,2015/05,2015 / 05
60,Diana,Quiroz,Pascual,21,156,88.9,DIQUPA61,Lic. En Derecho,9,2018-12-14,61,2018,2018/12,2018 / 12
62,Mildred,Luna,Escobar,19,190,52.7,MILUES63,Lic. En Pedagogía,6,2017-05-01,63,2017,2017/05,2017 / 05
70,Eva,Llorente,Aburto,22,189,83.1,EVLLAB71,Lic. En Pedagogía,3,2017-05-24,71,2017,2017/05,2017 / 05
75,Isabel,Rocha,Valencia,21,181,58.9,ISROVA76,Lic. En Pedagogía,1,2018-05-27,76,2018,2018/05,2018 / 05
80,Johan,Sepúlvedo,Maldonado,20,183,98.8,JOSEMA81,Lic. En Pedagogía,3,2015-12-16,81,2015,2015/12,2015 / 12
81,Eva,Cuenca,Briones,22,176,65.4,EVCUBR82,Lic. En Nutriología,7,2015-05-15,82,2015,2015/05,2015 / 05
84,Félix,Rivas,Lacy,23,158,83.0,FÉRILA85,Lic. En Derecho,4,2015-05-28,85,2015,2015/05,2015 / 05
85,Clara,Arenas,Vega,19,189,56.0,CLARVE86,Lic. En Derecho,3,2017-05-09,86,2017,2017/05,2017 / 05
86,Leopoldo,Ocampo,Díaz,18,155,57.1,LEOCDÍ87,Lic. En Pedagogía,8,2018-05-03,87,2018,2018/05,2018 / 05
88,Germán,Lazcano,Valencia,23,171,59.9,GELAVA89,Lic. En Derecho,5,2015-05-25,89,2015,2015/05,2015 / 05
90,Lucía,Galindo,Alvarado,18,158,94.8,LUGAAL91,Lic. En Nutriología,9,2017-05-18,91,2017,2017/05,2017 / 05
92,Orlando,Vera,Treviño,22,179,61.1,ORVETR93,Lic. En Nutriología,1,2015-05-03,93,2015,2015/05,2015 / 05
95,Stephanie,Peña,Rubio,20,188,52.9,STPERU96,Lic. En Nutriología,2,2015-12-15,96,2015,2015/12,2015 / 12
96,Marvin,Ramón,Ríos,24,167,98.3,MARARÍ97,Lic. En Derecho,7,2016-12-28,97,2016,2016/12,2016 / 12
98,Lily,Ávalos,Salín,19,168,58.6,LIÁVSA99,Lic. En Nutriología,4,2016-05-28,99,2016,2016/05,2016 / 05

In [ ]:
#sacar