In [70]:
import pandas as pd
import openpyxl

In [71]:
altura_cm = [178,165,155,181,176,189,190,186]

In [72]:
#Crear una serie llamada altura
altura = pd.Series(altura_cm)
altura

0    178
1    165
2    155
3    181
4    176
5    189
6    190
7    186
dtype: int64

In [73]:
#sacar los x primeros valores 
altura.head(4)

0    178
1    165
2    155
3    181
dtype: int64

In [74]:
#ordenar los valores 
altura.sort_values()

2    155
1    165
4    176
0    178
3    181
7    186
5    189
6    190
dtype: int64

In [75]:
#obtener el valor minimo
altura.min()

155

In [76]:
#obtener el maximo
altura.max()

190

In [77]:
#obtener el promedio
altura.mean()

177.5

In [78]:
#sumar los valores de altura
altura.sum()

1420

In [79]:
#obtener la descripcion 
altura.describe()

count      8.000000
mean     177.500000
std       12.177262
min      155.000000
25%      173.250000
50%      179.500000
75%      186.750000
max      190.000000
dtype: float64

In [80]:
#obtener la altura mayor a 170
#altura[filtro]
altura[altura>170]

0    178
3    181
4    176
5    189
6    190
7    186
dtype: int64

In [81]:
#dataframe
datos = {
    "nombre": ["Erika","Elias","Miguel","Karla","Gabriela"],
    "edad": [23,24,21,25,22],
    "altura": [173,194,165,154,176],
    "peso": [83.2,65.4,71.1,67.9,71.8]    
}

amigos = pd.DataFrame(datos)
amigos

     nombre  edad  altura  peso
0     Erika    23     173  83.2
1     Elias    24     194  65.4
2    Miguel    21     165  71.1
3     Karla    25     154  67.9
4  Gabriela    22     176  71.8

In [82]:
#obtener la descripcion 
amigos.describe()

            edad      altura       peso
count   5.000000    5.000000   5.000000
mean   23.000000  172.400000  71.880000
std     1.581139   14.774979   6.829861
min    21.000000  154.000000  65.400000
25%    22.000000  165.000000  67.900000
50%    23.000000  173.000000  71.100000
75%    24.000000  176.000000  71.800000
max    25.000000  194.000000  83.200000

In [83]:
#obtener los datos de los amigos con una edad menos a 23
amigos[amigos.edad<23]

     nombre  edad  altura  peso
2    Miguel    21     165  71.1
4  Gabriela    22     176  71.8

In [84]:
#se puede aplicar otros atribs como .edad para que solo me de la edad o un describe de estos elementos
amigos[amigos.edad<23].edad

2    21
4    22
Name: edad, dtype: int64

In [85]:
#importar desde un archivo los datos para el dataframe
amigos = pd.read_excel("./amigos.xlsx",index_col="Id")
amigos.head()

     Nombre Apellido Pat  Apellido Mat  Edad  Altura  Peso
Id
1    Sergio      Negrete         Terán    18     163  90.9
2      Jean       Vidrio        Piñeda    23     166  61.3
3     María        Feria         Núñez    22     185  77.1
4   William   Valdovinos         López    22     155  84.6
5   Bastian   Richardson  De La Fuente    17     187  87.0

In [92]:
amigos.rename(columns = {'Peso':'manolo'}, inplace=True)
amigos.head()

     Nombre Apellido Pat  Apellido Mat  Edad  Altura  manolo
Id
1    Sergio      Negrete         Terán    18     163    90.9
2      Jean       Vidrio        Piñeda    23     166    61.3
3     María        Feria         Núñez    22     185    77.1
4   William   Valdovinos         López    22     155    84.6
5   Bastian   Richardson  De La Fuente    17     187    87.0

In [ ]:
#obtener los datos de los amigos con una edad menor a 21
amigos[(amigos.Edad < 21) & (amigos.Nombre == 'Sergio')]

In [ ]:
universidad = pd.read_excel("./universidad.xlsx")
universidad

In [ ]:
#para unir las tablas
estudiantes = amigos.merge(universidad, left_on="Id", right_on="Id Persona")
estudiantes

In [ ]:
#cambiar letras a mayusculas loc para referenciar columnas
estudiantes.loc[:,"Num Control"].str.upper()
#para guardarlo en el dataframe
estudiantes.loc[:,"Num Control"] = estudiantes.loc[:, "Num Control"].str.upper()
estudiantes.head()

In [ ]:
#cambiar la primera letra a mayuscula 
estudiantes.loc[:,"Carrera"] = estudiantes.loc[:,"Carrera"].str.title()
estudiantes

In [ ]:
#añadir la columna año desde la inscripcion
estudiantes["Año"] = estudiantes.Inscripción.dt.year
estudiantes

In [ ]:
#añadir añomes
estudiantes["Año mes"] = estudiantes.Inscripción.dt.strftime("%Y / %m")
estudiantes

In [ ]:
#hacer un df de personas licenciadas en la carrera
licenciados = estudiantes[estudiantes.loc[:,"Carrera"].str.contains("Lic")]
licenciados

In [ ]:
#sacar la cantidad de liccenciados inscritos por año usando groupby
licenciados_por_año = licenciados.groupby(by="Año").size()
licenciados_por_año

In [ ]:
import matplotlib.pyplot as plt
licenciados_por_año.plot(kind = "bar")
plt.title("Inscripcion de licenciados por año")
plt.show()

In [ ]:
#contar la cantidad de alumnos inscritos en cada año separado por licenciatura utilizando pivot_table
ingresos = licenciados.pivot_table(index= "Año", columns="Carrera", values="Edad", aggfunc="count", fill_value=0)
ingresos

In [ ]:
ingresos.plot()
plt.title("Inscripcion de licenciados por año")
plt.show()